/* CSS Stylesheet */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header, .footer, .hero {
    background-color: #1f2937;
    color: #fff;
    padding: 18px 10%;
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: stretch; 
}

.hero-body, .hero-image {
    flex-grow: 1;
}

.hero-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 18px;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
}

img {
    max-width: 100%;
    max-height: 500px;
}

#hero-button {
    background-color: #3882f6;
    color: #fff;
    font-weight: bold;
    width: 20%;
    padding: 8px;
    border-radius: 10%;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.footer {
    align-items: center;
    justify-content: center;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;    
}

a {
    color: #f9faf8;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.body-image {
    height: 100px;
    width: 100px;
    background-color: #1f2937;
    border-width: 5px;
    border: #3882f6;
    border-radius: 25%;
}

.body-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.body-content {
    display: flex;
    padding: 18px 15%;  
    justify-content: space-between;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.quote-block {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 18px 15%;
}

.quote-author {
    text-align: right;
}

.cta-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.cta-module {
    background-color: #3882f6;
    padding: 16px 32px;
    display: flex;
    gap: 50px;
    border-radius: 10px;
    color: white;
}

.cta {
    color: white;
    background-color: transparent;
    border-radius: 10px;
    border-color: white;
    padding: 6px 18px;
}